.Product {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation_bar {
  position: flex;
  width: 15%;
  background-color: rgb(58, 202, 90);
}

.search_product {
  position: flex;
  padding-top: 20px;
  height: 30px;
  width: 350px;
  margin-left: 25%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
  background-image: url();
}